<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Agentes
    </ion-title>
    <ion-grid>
      <ion-row>
        <ion-col size="9">
          <ion-searchbar  #searchBar *ngIf="showSearch" (ionChange)="searchAgent($event)" animated></ion-searchbar>
        </ion-col>
        <ion-col>
          <ion-button (click)="hideSearchbar()" *ngIf="showSearch" ><ion-icon name="close"></ion-icon></ion-button>
        </ion-col>
      </ion-row>
    </ion-grid> 
  </ion-toolbar>
</ion-header>

<ion-fab horizontal="end" vertical="bottom" slot="fixed">
  <ion-fab-button color="primary">
    <ion-icon name="arrow-up-circle"></ion-icon>
  </ion-fab-button>
  <ion-fab-list side="top">
    <ion-fab-button (click)="viewCreateAgent()"><ion-icon name="person-add-outline"></ion-icon></ion-fab-button>
    <ion-fab-button (click)="showSearchbar()"><ion-icon name="search-outline"></ion-icon></ion-fab-button>
  </ion-fab-list>
</ion-fab>

<ion-content [fullscreen]="true">

  <div class="container">

    <ion-card class="welcome-card" *ngFor="let agent of dbAgents | async | filterAgent:textSearch; let i = index">
      <ion-card-header>
        <ion-card-title>{{agent.id}} {{agent.nameA}} {{agent.lastNameA}}</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p><span><b>Experiencia:</b> {{agent.yearsExperienceA}} </span></p>

        <ion-grid>
          <ion-row>
            <ion-col>
              <div>
                <ion-col>
                  <ion-button (click)="showAgent(agent)" color="primary" fill="solid">Más Info</ion-button>
                </ion-col>
                <ion-col>
                  <ion-button (click)="deleteAgent(agent.id, i)" color="danger" fill="solid">Eliminar</ion-button>
                </ion-col>
              </div>
            </ion-col>
            <ion-col>
              <div>
                <ion-button (click)="viewhistoryAgent(agent)" color="primary" fill="solid">Historial</ion-button>
                <ion-button (click)="viewEditAgent(agent)" color="warning" fill="solid">Editar</ion-button>
              </div>
            </ion-col>
          </ion-row>
        </ion-grid>

      </ion-card-content>

    </ion-card>

  </div>

</ion-content>