<ion-header>
  <ion-toolbar>
    <ion-title>history-agent</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <h2>&nbsp; &nbsp; {{dbAgent.id}} {{dbAgent.nameA}}</h2>
 
  <ion-card class="welcome-card" *ngFor="let history of dbHistory | async">
    <ion-card-header>
      <ion-card-title>{{history.trackIdH}} - {{history.trackNameH}}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p><span><b>Fecha De Inicio:</b> {{history.startDateH}} </span></p>
      <p><span><b>Fecha De Final:</b>
          <ng-container *ngIf="history.finalDateH != null; else elseTemplate">
            {{history.finalDateH}}
          </ng-container>
          <ng-template #elseTemplate>
            Ruta Activa
          </ng-template>
        </span></p>
    </ion-card-content>

  </ion-card>

</ion-content>