<ion-header>
  <ion-toolbar>
    <ion-title>create-secretary</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-progress-bar type="indeterminate" *ngIf="showLoader"></ion-progress-bar>

  <form [formGroup]="createSecretaryForm">

    <ion-item>
      <ion-label>Nombre</ion-label>
      <ion-input type="text" formControlName="nameS"></ion-input>
    </ion-item>

    &nbsp;

    <ion-button expand="block" *ngIf="!isEditable" [disabled]="!createSecretaryForm.valid" (click)="createSecretary()">Crear Secretaria</ion-button>
    <ion-button expand="block" *ngIf="isEditable" [disabled]="!createSecretaryForm.valid" (click)="editSecretary()">Editar Secretaria</ion-button>

</form>

</ion-content>
