<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="tab1">
      <ion-icon name="person"></ion-icon>
      <ion-label>Agentes</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab2">
      <ion-icon name="trail-sign"></ion-icon>
      <ion-label>Vías</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab3">
      <ion-icon name="clipboard"></ion-icon>
      <ion-label>Historial</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab4">
      <ion-icon name="business"></ion-icon>
      <ion-label>Secretarias</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
