<div>

  <h2>Información De Agente</h2>

  <ion-item>
    <ion-label> <b>Nombre:</b> {{agent.nameA}}</ion-label>
  </ion-item>

  <ion-item>
    <ion-label> <b>Apellido:</b> {{agent.lastNameA}}</ion-label>
  </ion-item>

  <ion-item>
    <ion-label> <b>Experiencia:</b> {{agent.yearsExperienceA}} (Años: {{years}} - Meses: {{months}})</ion-label>
  </ion-item>

  <ion-item>
    <ion-label> <b>Secretaria:</b> {{secretary.id}} - {{secretary.nameS}} </ion-label>
  </ion-item>

  <ion-item>
    <ion-label> <b>Vía:</b> {{track.id}} - {{track.typeT}} - {{track.streetOrCarrerT}} - {{track.numberT}} </ion-label>
  </ion-item>

  <ion-button expand="block" (click)="dismiss()">Cerrar</ion-button>

</div>